.App {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #FF6347;
  }
  
  input[type="file"] {
    margin-top: 20px;
  }
  
  button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #FF6347;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff4500;
  }
  
  .song-list {
    margin-top: 20px;
  }
  
  .song-item {
    margin-bottom: 10px;
  }
  